.mobile-menu.close {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.mobile-menu {
    position: fixed;
    height: 357px;
    top: 55px;
    left: 0;
    padding: 52px 0;
    width: 100%;
    background: $bg-color;
    

    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
}
.mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu__item {
}
.mobile-menu__link {
    &:active {
        color: $contrast-color;
    }
}



