.mobile-menu.close {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

  transform: scaleX(0);
    transform: scale(0);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

    & .mobile-menu__list {
        transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
       transform: scale(0);
    }
}
.mobile-menu {
    background: none;
    transform: scale(1);

    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
}
.mobile-menu__list {
    transform: scale(1);
    transform-origin: left center;
    transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__item {
}
.mobile-menu__link {
}



