@font-face {
	font-family: 'Gilroy-400';
	font-display: swap;
	src: url("../fonts/Gilroy-400.eot");
	src: local("O"), url("../fonts/Gilroy-400.woff") format("woff"), 
			url("../fonts/Gilroy-400.ttf") format("truetype"), 
			url("../fonts/Gilroy-400.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy-400';
	font-display: swap;
	src: url("../fonts/Gilroy-600.eot");
	src: local("O"), url("../fonts/Gilroy-600.woff") format("woff"), 
			url("../fonts/Gilroy-600.ttf") format("truetype"), 
			url("../fonts/Gilroy-600.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
    background-color: $bg-color;
    font-family: 'Gilroy-400', sans-serif;
    font-size: 20px;
    line-height: 1.25;
    color: $main-color;
}

.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1310px) {
        max-width: 1310px;
    }
}

.section {
    padding-bottom: 52px;

    @media screen and (min-width: 768px) {
        padding-bottom: 100px;
    }

    @media screen and (min-width: 1310px) {
        padding-bottom: 170px;
    }
}

.d-flex {
    display: flex;
}